.business-social-media {
    border: 2px solid black;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 50%;
    padding-top: 2.0px;
    background-color: black;
    margin: 0 0.2rem 0 0.2rem;

    .footer-icon{
        color:white;
    }
}
