$font-size-based: 1rem;
$primary: gold;
$header-jumbotron-height: 300px;
$section-padding: 120px;
$section-color-alternate: rgb(245, 245, 245);
$page-menu-size: 175px;
@import "../lib/bootstrap-5.1.0/scss/bootstrap";

@import "../parts/_header";
@import "../parts/_services";
@import "../parts/_portfolio";
@import "../parts/_aboutus";
@import "../parts/_team";
@import "../parts/_contact";
@import "../parts/_footer";

/* Page Menu */

html, body {
    overflow-x: hidden;
}

#page {
    position: relative;
    left: 0px;
    transition: 1s all;
    transform: translate(0px, 0px);

    &.mobile-nav-opened {
        transform: translate(-$page-menu-size, 0px);
    }

    .mobile-nav{
        position: fixed;
        right: - $page-menu-size;
        width: $page-menu-size;
        top: 0px;
        bottom: 0px;
        background-color: $section-color-alternate;
    }

    .mobile-nav-link {
        color: black;
        border-right: 0px solid transparent;
        border-left: 0px solid transparent;
        background-color: $section-color-alternate;

        &:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        &:first-child {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }
    }
}

